EnsembleTreeModel/model/EnsembleTreeModel.pkl
EnsembleTreeModel/csv
EnsembleTreeModel/income-prediction
EnsembleTreeModel/__pycache__
RevenuePredict/__pycache__
TestTaskApp/__pycache__
doc
venv
.idea
WeeklyReport
.env