EnsembleTreeModel/model/EnsembleTreeModel.pkl
EnsembleTreeModel/csv
EnsembleTreeModel/income-prediction
RevenuePredict/migrations
EnsembleTreeModel/__pycache__
RevenuePredict/__pycache__
TestTaskApp/__pycache__
doc
venv
.idea
WeeklyReport
.env
test.py