{% extends "base_template.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        <a href="{% url 'home'%}">
            <button class="btn-info">Back</button>
        </a>

        <table>
            {% for item in items %}
            <tr>
                <td class="float_numbers">{{ item.OpenDate }}</td>
                <td class="float_numbers">{{ item.CityGroup }}</td>
                <td class="float_numbers">{{ item.P1 }}</td>
                <td class="float_numbers">{{ item.P2 }}</td>
                <td class="float_numbers">{{ item.P6 }}</td>
                <td class="float_numbers">{{ item.P7 }}</td>
                <td class="float_numbers">{{ item.P11 }}</td>
                <td class="float_numbers">{{ item.P17 }}</td>
                <td class="float_numbers">{{ item.P21 }}</td>
                <td class="float_numbers">{{ item.P22 }}</td>
                <td class="float_numbers">{{ item.P28 }}</td>
                <td class="float_numbers">{{ item.revenue }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}

    {% endif %}

{% endblock %}